/*morning*/


body {
    background-image: url("images/morning-dew.jpg");
    background-repeat: no-repeat;
    background-size: 200% 200%;
    font-family: 'silom', 'arial';
}

@media only screen and (min-width: 680px){
    body{
        background-size: 100% 200%;
    }
}

h1,div {
    color: white;
    
}

div {
    padding: 2%;
    background-color: rgba(120, 49, 0, 0.75);
    text-shadow: 2px 2px #000000;
}






p {
    font-family: 'arial';
}

tbody tr {
    font-family: 'arial';
}

h2 {
    padding-left: 2%;
}




.box1 {
   background-color: rgba(160, 50, 30, 1);
}

.box2 {
    min-height: 100px;
    text-shadow: 2px 2px #000000;
}


.box2, .box3,{
    padding: 2%;
}




/* SEASONS */


.winter {
    background-image: url('images/winter.jpg');
    background-size: 100% 100%; 
}

.spring {
    background-image: url('images/spring.jpg');
    background-size: 100% 100%; 
}

.summer{
    background-image: url('images/summer.jpg');
    background-size: 100% 100%; 
}

.autumn {
    background-image: url('images/autumn.jpg');
    background-size: 100% 100%; 
}



