/*night time*/


body {
    background-image: url("images/night-sky.jpg");
    background-repeat: no-repeat;
    background-size: 200% 200%;
    font-family: 'silom', 'arial';
}



@media only screen and (min-width: 680px){
    body{
        background-size: 100% 200%;
    }
}

h1,div {
    color: white;
    
}

div {
    padding: 2%;
    background-color: rgba(29, 29, 29, 0.75);
    text-shadow: 2px 2px #000000;
}


h2 {
    padding-left: 2%;
    text-shadow: 2px 2px #000000;
}




.box1 {
   background-color: #1d1d1d; 
}


.box2 {
    text-shadow: 2px 2px #000000;
}

.box2, .box3,{
    padding: 2%;
}


/* SEASON CHANGE */

.winter {
    background-image: url('images/winter.jpg');
    background-size: 100% 100%; 
}

.spring {
    background-image: url('images/spring.jpg');
    background-size: 100% 100%; 
}

.summer{
    background-image: url('images/summer.jpg');
    background-size: 100% 100%; 
}

.autumn {
    background-image: url('images/autumn.jpg');
    background-size: 100% 100%; 
}

/*thead {
    text-align: left;
}

table {
    width: 100%;
     padding-left: 2%;
}*/
